################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharp-Basics/FileContentIndex/ce9c6be2-62e0-4961-93ac-e13fe73eb864.vsidx
